<div class="basic-container table-window">
    <mat-form-field color="primary" class="left-half-width-table">
      <input matInput placeholder="Search lacquer by code" #lacquerCodeInput>
    </mat-form-field>
  <mat-form-field color="primary" class="right-half-width-table">
    <input matInput placeholder="Search lacquer by name" #lacquerNameInput>
  </mat-form-field>
  <mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let lacquer">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(lacquer) : null"
                      [checked]="selection.isSelected(lacquer)"
                      [aria-label]="checkboxLabel(lacquer)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
      <mat-cell *matCellDef="let lacquer">{{lacquer.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell class="name"
                *matCellDef="let lacquer">{{lacquer.name}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns">
    </mat-row>

  </mat-table>

  <!--  <div class="spinner-container" *ngIf="dataSource.loading$ | async">-->
  <!--    <mat-progress-spinner-->
  <!--      color="primary"-->
  <!--      mode="indeterminate">-->
  <!--    </mat-progress-spinner>-->
  <!--  </div>-->

  <mat-paginator [length]="dataSource?.totalNumber" [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 20, 50]"></mat-paginator>
</div>
